@charset "utf-8";

/* reset */
div,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

/* slider_wrap */
.slider_wrap {
  width: 750px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  /* background-color: #fff; */
  /* 결과물에 적용할 때 #fff */
}

.content {
  width: 750px;
  height: 250px;
}

.inside_navi {
  width: 530px;
  height: 250px;
  float: right;
}

.inside_navi > li {
  padding-top: 100px;
  font-size: 30px;
  line-height: 1.4em;
}

/* 이미지 */
.slider_img1 {
  background: url(/img/image1.png) no-repeat 50px center;
  background-size: 120px 131px;
}

.slider_img2 {
  background: url(/img/image2.png) no-repeat 50px center;
  background-size: 120px 131px;
}

.slider_img3 {
  background: url(/img/image3.png) no-repeat 50px center;
  background-size: 120px 131px;
}

.slider_img4 {
  background: url(/img/image4.png) no-repeat 50px center;
  background-size: 120px 131px;
}

.slider_img5 {
  background: url(/img/image5.png) no-repeat 50px center;
  background-size: 120px 131px;
}
