body {
    margin: 0 auto;
    width: 800px;
    background-color: #FFEA80;
    text-align: center;
}

/* 웹폰트 */
@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YEONGJUSeonbiTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#mainSubtitle {
    font-family: 'WavvePADO-Regular';
    font-size: 50px;
}

#mainIntroduce {
    font-family: 'YEONGJUSeonbiTTF';
}